<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    #homework-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .draggable-div {
        position: absolute;
        cursor: move;
    }
    #addDiv {
        margin: 20px;
    }
</style>

<button id="addDiv">добавить div</button>