<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body>
    <div id="map"></div>
    {{> "src/views/add_response.hbs"}}
    <img class="geologo" src="src/img/geologo.png">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=4192a24c-3a0e-45ff-841f-d35a6428e331&lang=ru_RU"
            type="text/javascript"></script>
</body>
</html>