<section id="auth">
    <h2>Привет!</h2>
    <input type="text" name="name" id="name" placeholder="login" required>
    <input type="password" name="name" id="password" placeholder="password" required>
    <button>sign in</button>
</section>