<section id="auth">
    <div class="formBox">
        <form class="authForm">
            <div class="cancel"></div>
            <div class="pic"><img src="src/img/pic.png" alt=""></div>
            <h2>Авторизация</h2>
            <p>Введите пожалуйста своё фио и ник для дальнейшей авторизации</p>
            <input type="text" name="name" id="name" placeholder="Введите фио" required>
            <input type="text" name="nik" id="nik" placeholder="Введите свой ник" required>
            <button>ВОЙТИ</button>
        </form>
    </div>
</section>