<div id="chat" data-user="{{name}}">
    <input type="file" name="file" id="fileInp">
    <header id="headerWrap">
        <div class="logOut"></div>
    </header>
    <div class="contacts">
        <div class="settings">
            <div class="burger"></div>
            <form class="searchInp" action="" method="post">
                <input type="text" name="search" placeholder="Найти...">
            </form>
        </div>
        <div class="contactList"></div>
    </div>
    <div class="dialog">
        <div class="dialogHead">
            <div class="title">Чат</div>
            <div class="counter">2 участника</div>
        </div>
        <div class="chatWrap">
            <div class="chatList"></div>
        </div>
        <div class="newMessageBlock">
            <form class="newMessageForm">
                <input class="messageInput" type="text" placeholder="Сообщение">
                <button class="sendMessage">Отправить</button>
            </form>
        </div>
    </div>
</div>