    {{#each reviews}}
        <div class="responseBox">
            <div class="name">{{name}}</div>
            <div class="place">{{place}} {{date}}</div>
            <div class="response">{{response}}</div>
        </div>
    {{/each}}