<div id="responseForm">
    <div class="close"></div>
    <div class="currentAddress"></div>
    <div class="responseList">Отзывов пока нет...</div>
    <form id="addResponse" action="" method="get">
        <div class="formTitle">ВАШ ОТЗЫВ</div>
        <input type="hidden" name="coords">
        <input type="hidden" name="address">
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="text" name="place" placeholder="Укажите место">
        <textarea name="response" placeholder="Поделитесь впечатлениями"></textarea>
        <button class="addButton">Добавить</button>
    </form>
</div>